.card-header {
    h5 {
        font-size: 14px;
    }
}

.list-group-flush {
    li {
        font-size: 13px;
    }
}

.hotel-book-form {
    .form-label  {
        font-size: 13px;
    }
    select {
        font-size: 13px;
    }
    input {
        font-size: 13px;
    }
}

.hotel-show-card {
    .card-title {
        font-size: 22px;
    }
    .card-text {
        font-size: 15px;
    }
    p {
        font-size: 15px;
        strong {
            font-size: 15px;
        }
    }
}